*{
    padding: 0;
    margin: 0;
 }

 body{
    background-color: rgb(64, 66, 69);
}


 #head{
    justify-content: center;
    display: flex;
    padding: 15px;
}

#head img{
    border: 1px;
    border-radius: 50%;
    width: 25pt;
    height: 25pt;
}

#head b{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(63, 208, 95);
    font-size: 28px;
    padding-left: 7px;
}

 
 .header{
     min-height: 100vh;
     width: 100%;
     background-image: url(sec.jpg);
     background-position: center;
     background-size: cover;
     position: relative;
 }
 
 nav{
     display: flex;
     justify-content: space-between;
 }
 
 nav img{
     width: 100pt;
     height: 100pt;
     padding: 20px;
     margin: 0;
     border-radius: 50%;
     opacity: 0.5;
 }
 
 .nav-link{
     flex: 1;
     text-align: center;
 }
 
 .nav-link ul li{
     list-style: none;
     display: inline-block;
     padding: 40px 20px;
     position: relative;
 }
 
 .nav-link ul li a{
     text-decoration: none;
     color: rgb(123, 108, 41);
     font-size: 18px;
 }
 
 .nav-link ul li::after{
     content: '';
     width: 0%;
     height: 2px;
     background-color: #48dc1f;
     display: block;
     margin: auto;
     transition: 0.5s;
 }
 
 .nav-link ul li:hover::after{
     width: 100%;
 }
 
 .textbox{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.textbox{
    font-size: 22px;
}

.textbox p{
    margin: 10px 0 40px;
    color: white;
}

.get-in{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 12px 34px;
    background: transparent;
    position: relative;
}

.get-in:hover{
    border: 1px solid  #48dc1f;
    background: #343552;
    color: rgb(175, 167, 54);
    transition: 1s;
}

.touch{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.touch h3{
    color:rgb(175, 167, 54);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.touch span{
    color: #48dc1f;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

.touch p{
    color: #939291;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
}

/**Our locationn layer line of code**/
.location h1{
    color: #fff;
}

.location p{
    color: #fff;
    padding: 20px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: column;
}

.location{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.location-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.location-col img{
    width: 100%;
    display: block;
}

.add-layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.add-layer:hover{
    background: rgba(19, 71, 150, 0.7);
}

.add-layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.add-layer h3:hover{
    bottom: 49%;
    opacity: 1;
}
